@use "@/shared/styles/functions" as *;

.section {
  background-color: var(--background-gray);
  padding: 60px 0;
  text-align: center;
  font-family: var(--font-poppins);
  position: relative;
  z-index: 0;
  
}
.title {
  font-size: fluid-text(30, 46);
  font-weight: 600;
  margin-bottom: 40px;
  color: #ccc;
  font-family: var(--font-poppins);
}

.viewport {
    overflow: visible; 
  }

.container {
  display: flex;


}


.card {
  flex: 0 0 rem(200);
  background: #fff;
  border-radius: rem(18);
  padding: rem(10);
  font-family: var(--font-poppins);

  display: flex;
  flex-direction: column;
  gap: rem(14);
  margin-right: rem(24);

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.06);
}
.imagePlaceholder {
  position: relative;
  height: rem(200);
  border-radius: rem(14);
  overflow: hidden;
  background: #e9edf3;
}

.image {
    object-fit: cover;
  }
.timer {
  position: absolute;
  top: rem(12);
  right: rem(12);

  padding: rem(6) rem(10);
  background: rgba(120, 120, 120, 0.85);
  color: #fff;

  font-size: rem(12);
  font-weight: 500;
  border-radius: rem(10);

  backdrop-filter: blur(4px);
}

.cardBody {
  display: flex;
  flex-direction: column;
  gap: rem(7);
}
.name {
    font-size: rem(16);
    font-weight: 600;
    text-align: left;
  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.bid {
  display: flex;
  font-size: 14px;
  padding-top: 8px;
  align-items: center;
  justify-content: space-between;
}
.currentBid {
  display: flex;
  flex-direction: column;
  span {
    font-size: 11px;
    font-weight: 400;
    color: #94a3b8;
  }
  div {
    display: flex;
    padding-left: 3px;
    align-items: center;
    gap: rem(4);
    p {
      font-size: 16px;
      
    }
  }
}

.button {
  width: 100%;
  padding: 10px;
  background: #000;
  color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.controls {
  margin: 40px auto 0;
  display: inline-flex;
  align-items: center;
  padding: 6px 18px;
  border-radius: 13px;

  box-shadow: 0 18px 30px rgba(0, 0, 0, 0.12), 0 6px 10px rgba(0, 0, 0, 0.06);
}

.arrowButton {
  background: none;
  border: none;
  padding: 8px 14px;

  font-size: 20px;
  font-weight: 500;
  color: #000;

  cursor: pointer;
  transition: opacity 0.2s ease, transform 0.15s ease;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    transform: scale(0.95);
  }
}

.divider {
  width: 1px;
  height: 24px;
  background: #e5e5e5;
  margin: 0 12px;
}
