// ===== FONTS =====
$font-inter: var(--font-inter);
$font-poppins: var(--font-poppins);
$font-public-sans: var(--font-public-sans);
$font-outfit: var(--font-outfit);

// ===== COLORS =====
$background-white: #fff;
$background-gray: #f1f1f1;
$background-black: #000;

$text-black: #141416;
$text-header: #606060;
$text-gray: #676767;

$button-bg: #000;
$button-text: #fff;
$highlighted-text: #117efb;

$auth-bg: #0f141c;
$auth-btn: #9198a1;

$text-field: #242933;
$hover-bg: #171d26;
$text-field-outline: #5a6075;
$label-color: #a0a0a0;
$text-field-focused: #9da3b3;